
body {

    background-image: url(images/background.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Russo One', sans-serif;

}

h1 {
  font-size: 40px;
  text-align: center;
}
.para{
  text-align: center;
}

form  , #buttons{
  margin-left: 150px;
  margin-right: 150px;
  font-family:
}

#allgifs{
  margin-left: 300px;
}

button{
  background-color: yellow;
  font-family: 'Patrick Hand SC', cursive;
}

#animalButton{
  font-family: 'Patrick Hand SC', cursive;
}
